# Compiled Source #
###################
*.la
*.lo
*.o

# Packaging Files #
###################
debian/files
debian/libswsscommon-dev.debhelper.log
debian/libswsscommon-dev.substvars
debian/libswsscommon.debhelper.log
debian/libswsscommon.postinst.debhelper
debian/libswsscommon.postrm.debhelper
debian/libswsscommon.substvars

debian/libswsscommon-dev/
debian/libswsscommon/
debian/tmp/

aclocal.m4
config
config.h
config.h.in
config.log
config.status
configure
libtool
Makefile.in
stamp-h1
**/.deps/
**/.libs/
**/Makefile

# Executables #
###############
common/swssloglevel
tests/tests


